.border {
    border: 1px solid purple;
}
.borderBlue {
    border: 1px solid yellowgreen;
}
.row1, .row2, .row3 {
    margin-bottom: 5px;
}
.marginRight {
    margin-right: 5px;
}
.marginLeft {
    margin-left: 5px;
}
.marginTop {
    margin-top: 5px;
}
.marginBottom {
    margin-Bottom: 4px;
}
.margin {
    margin: 300px 200px;
}.border {
    border: 50px solid black;
}
.borderBlue {
    border: 50px solid red;
}
.row1, .row2, .row3 {
    padding-bottom: 5px;
}
.paddingRight {
    padding-right: 5px;
}
.paddingLeft {
    padding-left: 6px;
}
.paddingTop {
    padding-top: 4px;
}
.paddingBottom {
    padding-Bottom: 4px;
}
.padding {
    padding: 1px 3px;
}


.container {
    box-sizing: border-box;
    height: 500px;
    width: 100%;
    border: 1px solid gray;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1em;
    flex-wrap: wrap;
}
.centerFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cell {
    border: 1px solid teal;
}
.one {
    width: 40%;
    height: 25%;
}
.two {
    width: 40%;
    height: 25%;
}
.three {
    width: 20%;
    height: 25%;
}

img{
    height: 70px;
    width: 70px;
}